<style type="text/css">
<!-- 
A:link{COLOR:#3399FF;TEXT-DECORATION:none;} 
A:visited{COLOR:#3399FF;TEXT-DECORATION: none;} 
A:active{COLOR:#3399FF} 
A:hover{COLOR:#000000;TEXT-DECORATION:none;} 
-->
</style>
<style>
<!--
BODY{
scrollbar-face-color:#6699CC;
scrollbar-arrow-color:#000000;
scrollbar-track-color:#99CCFF;
scrollbar-shadow-color:'#000000';
scrollbar-highlight-color:'#99CCFF';
scrollbar-3dlight-color:'#000000';
scrollbar-darkshadow-Color:'#000000';
}
-->
</style>